/* .formContainer {
    background: #fff;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  } */
  .formContainer h2{
    color: var(--background);
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .form {
    display: grid;
    gap: 1.25rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .formContainer input, .formContainer
  select {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .formContainer input:focus,
  .formContainer select:focus {
    border-color: #0070f3;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
  }
  
  .submitButton {
    background-color: #1437ff;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }
  